<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="item:workflow" type="Sitecore.Shell.Framework.Commands.Workflow,Sitecore.Kernel">
                <patch:attribute name="type">CapTech.Modules.Worxbox.Foundation.Commands.Workflow, CapTech.Modules.Worxbox.Foundation</patch:attribute>
            </command>
        </commands>
        <controlSources>
            <source mode="on" namespace="CapTech.Modules.Worxbox.Feature.Client.Workbox" assembly="CapTech.Modules.Worxbox.Feature.Client" />
            <source mode="on" namespace="CapTech.Modules.Worxbox.Feature.Client.Workbox" folder="/sitecore modules/Shell/WorxBox/" deep="true" />
        </controlSources>
    </sitecore>
</configuration>